// id arg
id #__name__#;
// jsonable
if ([args[@"#__name__#"] isKindOfClass:[NSNumber class]]
        || [args[@"#__name__#"] isKindOfClass:[NSString class]]
        || [args[@"#__name__#"] isKindOfClass:[NSArray class]]
        || [args[@"#__name__#"] isKindOfClass:[NSDictionary class]]) {
    #__name__# = args[@"#__name__#"];
}
// non jsonable
else {
    #__name__# = args[@"#__name__#"];
}