// list arg
NSArray* #__arg_name__#RefIdArray = (NSArray*) args[@"#__arg_name__#"];
#__type_name__# #__arg_name__#[#__arg_name__#RefIdArray.count];

for (int i = 0; i < #__arg_name__#RefIdArray.count; i++) {
    NSValue* #__arg_name__#Value = (NSValue*) HEAP_#__plugin_name__#[[#__arg_name__#RefIdArray objectAtIndex:i]];
    #__type_name__# #__arg_name__#Item;
    [#__arg_name__#Value getValue:&#__arg_name__#Item];
    #__arg_name__#[i] = #__arg_name__#Item;
}