override fun #__callback_method__#(#__formal_params__#): #__return_type__# {
    // 日志打印
    #__log__#

    // 开始回调
    callbackChannel.invokeMethod(
        "#__caller_class_name__#::#__caller_method_name__#_Callback::#__callback_method__#",
        mapOf<String, Any?>(
            #__callback_params__#
            "refId" to refId
        )
    )

    // 方法返回值
    #__return_stmt__#
}