// struct callback arg
NSValue* #__arg_name__#Value = [NSValue value:&#__arg_name__# withObjCType:@encode(#__type_name__#)];
NSNumber* arg#__arg_name__# = @(#__arg_name__#Value.hash);
HEAP[arg#__arg_name__#] = #__arg_name__#Value;
