- (#__return_type__#)#__method_name__##__formal_params__#
{
  FlutterMethodChannel *channel = [FlutterMethodChannel
      methodChannelWithName:#__method_channel__#
            binaryMessenger:[_registrar messenger]];
  // print log
  if (enableLog) {
    NSLog(@"#__log__#");
  }

  // convert to jsonable arg
  #__local_args__#

  #__callback__#
}
