- (#__return_type__#)#__method_name__##__formal_params__#
{
  FlutterMethodChannel *channel = [FlutterMethodChannel
      methodChannelWithName:@"#__method_channel__#"
            binaryMessenger:[_registrar messenger]];

  NSLog(@"#__log__#");

  // 构造可以直接传输的参数
  #__local_args__#

  #__callback__#
}
