// 列表回调参数
NSMutableArray<NSNumber*>* arg#__arg_name__# = [NSMutableArray arrayWithCapacity:#__arg_name__#.count];
for (int i = 0; i < #__arg_name__#.count; i++) {
    NSObject* item = ((NSObject*) [#__arg_name__# objectAtIndex:i]);
    // 返回给dart端的数据
    arg#__arg_name__#[i] = @(item.hash);
    // 放到HEAP_#__plugin_name__#中的数据
    HEAP_#__plugin_name__#[@(item.hash)] = item;
}