dispatch_async(dispatch_get_main_queue(), ^{
  FlutterMethodChannel *channel = [FlutterMethodChannel
        methodChannelWithName:#__method_channel__#
              binaryMessenger:[[self registrar] messenger]
                        codec:[FlutterStandardMethodCodec codecWithReaderWriter:[[FluttifyReaderWriter alloc] init]]];

  [channel invokeMethod:@"#__callback_method__#" arguments:@{#__callback_args__#}];
});
