dispatch_async(dispatch_get_main_queue(), ^{
    [channel invokeMethod:@"#__callback_method__#"
                arguments:@{#__callback_args__#}
                   result:^(id result) {}]; // 由于结果是异步返回, 这里用不上, 所以就不生成代码了
});

// 由于flutter无法同步调用method channel, 所以暂不支持有返回值的回调方法
// 相关issue https://github.com/flutter/flutter/issues/28310
NSLog(@"暂不支持有返回值的回调方法");

////////////////////////////如果需要手写代码, 请写在这里/////////////////////////////

////////////////////////////////////////////////////////////////////////////////

#__stub_return__#;