// list callback arg
NSMutableArray<NSNumber*>* arg#__arg_name__# = [NSMutableArray arrayWithCapacity:#__arg_name__#.count];
for (int __i__ = 0; __i__ < #__arg_name__#.count; __i__++) {
    NSObject* item = ((NSObject*) [#__arg_name__# objectAtIndex:__i__]);
    // return to dart side data
    arg#__arg_name__#[i] = @(item.hash);
    // add to HEAP
    HEAP[@(item.hash)] = item;
}