__block #__callback_result_type__# _callbackResult = nil;
[channel invokeMethod:@"#__callback_method__#"
            arguments:@{#__callback_args__#}
               result:^(id result) {
                 #__raw_callback_result__#
               }];

while (_callbackResult == nil) {
  // _callbackResult有值前, 空转
}

#__struct_value__#

return #__callback_result__#;