@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, NSObject *> * args, FlutterResult methodResult) {
    // 引用对象
    let refId = args["refId"] as! Int
    let ref = REF_MAP[refId] as! #__class_name__#

    methodResult(ref.#__getter__#)
},
