@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, NSObject *> * args, FlutterResult methodResult) {
    // 引用对象
    NSInteger refId = (NSInteger) args[@"refId"];
    #__class_name__# ref = (#__class_name__#) REF_MAP[@(refId)];

    methodResult(ref.#__getter__#)
},
