@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id argsBatch, FlutterResult methodResult) {
    NSMutableArray<NSObject*>* resultList = [NSMutableArray array];

    NSNumber* length = (NSNumber*) ((NSDictionary<NSString*, NSObject*>*) argsBatch)[@"length"];
    NSNumber* init = (NSNumber*) ((NSDictionary<NSString*, NSObject*>*) argsBatch)[@"init"];
    for (NSUInteger __i__ = 0; __i__ < [length integerValue]; __i__++) {
        #__type_name__#* __this__;
        if ([init boolValue]) {
            __this__ = [[#__type_name__# alloc] init];
        } else {
            __this__ = [#__type_name__# alloc];
        }
        [resultList addObject:__this__];
    }

    methodResult(resultList);

    if (enableLog) NSLog(@"HEAP: %@", HEAP);
},
