@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, id> * args, FlutterResult methodResult) {
    NSLog(@"#__method_name__#");

    #__type_name__#* ref = [[#__type_name__# alloc] init];
    HEAP[@(ref.hash)] = ref;

    methodResult(@(ref.hash));
},
