@"RefClass::isKindOf#__type_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    // 引用对象
    NSNumber* refId = ((NSDictionary<NSString*, NSNumber*>*) args)[@"refId"];
    id ref = HEAP[refId];

    BOOL isTargetType = [ref isKindOfClass:[#__type_name__# class]];
    methodResult(@(isTargetType));
},
