@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    if (enableLog) {
        NSLog(@"fluttify-objc: #__method_name__#(%@)", args);
    }

    // args
    #__args__#

    // ref
    #__ref__#

    // invoke native method
    #__invoke__#

    // result
    #__result__#

    methodResult(__result__);
},