@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    // print log
    if (enableLog) {
        NSLog(@"#__method_name__#");
    }

    // ref object
    #__ref__#

    // invoke native method
    #__invoke__#

    #__result__#

    methodResult(__result__);
},
