@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    // print log
    if (enableLog) {
        NSLog(@"#__method_name__#");
    }

    #__type_name__#* ref = [[#__type_name__# alloc] init];

    methodResult(ref);

    if (enableLog) NSLog(@"HEAP: %@", HEAP);
},
