@"RefClass::isKindOf#__type_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, id> * args, FlutterResult methodResult) {
    // 引用对象
    NSInteger refId = [args[@"refId"] integerValue];
    id ref = HEAP[@(refId)];

    BOOL isTargetType = [ref isKindOfClass:[#__type_name__# class]];
    methodResult(@(isTargetType));
},
