@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    // args
    #__args__#

    // ref
    #__ref__#

    // print log
    if (enableLog) {
        #__log__#
    }

    // invoke native method
    #__invoke__#

    // result
    #__result__#

    methodResult(jsonableResult);
},