@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id argsBatch, FlutterResult methodResult) {
    NSMutableArray<NSValue*>* resultList = [NSMutableArray array];

    for (NSUInteger __i__ = 0; __i__ < [(NSNumber*) ((NSDictionary<NSString*, NSObject*>*) argsBatch)[@"length"] integerValue]; __i__++) {
        #__type_name__# data;

        NSValue* dataValue = [NSValue value:&data withObjCType:@encode(#__type_name__#)];

        [resultList addObject:dataValue];
    }

    methodResult(resultList);

    if (enableLog) NSLog(@"HEAP: %@", HEAP);
},
