@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, id> * args, FlutterResult methodResult) {
    // args
    #__args__#

    // ref
    #__ref__#

    // print log
    #__log__#

    // invoke native method
    #__invoke__#

    // result
    #__result__#
},