@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, id> * args, FlutterResult methodResult) {
    NSLog(@"#__method_name__#");

    // 参数
    #__args__#

    NSInteger refId = [args[@"refId"] integerValue];
    #__class_name__# ref = (#__class_name__#) HEAP[@(refId)];

    ref.#__setter__# = #__field_value__#;
    methodResult(@"success");
},
