@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, id> * args, FlutterResult methodResult) {
    NSLog(@"#__method_name__#");

    // 引用对象
    NSInteger refId = [args[@"refId"] integerValue];
    #__class_name__# ref = (#__class_name__#) HEAP[@(refId)];

    // 开始调用
    #__invoke__#

    #__note__#

    #__result__#
},
