@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    // print log
    if (enableLog) {
        NSLog(@"#__method_name__#");
    }

    // args
    #__args__#

    // ref
    #__ref__#

    #__call_setter__#;
    methodResult(@"success");
},
