@"#__method_name__#_batch": ^(NSObject <FlutterPluginRegistrar>* registrar, id argsBatch, FlutterResult methodResult) {
    NSMutableArray* resultList = [NSMutableArray array];

    for (NSUInteger __i__ = 0; __i__ < ((NSArray<NSDictionary<NSString*, NSObject*>*>*) argsBatch).count; __i__++) {
        NSDictionary<NSString*, id>* args = [((NSArray<NSDictionary<NSString*, id>*>*) argsBatch) objectAtIndex:__i__];

        // ref object
        #__ref__#

        #__invoke__#

        #__result__#

        [resultList addObject:__result__];
    }

    methodResult(resultList);
},
