@"#__method_name__#_batch": ^(NSObject <FlutterPluginRegistrar>* registrar, id argsBatch, FlutterResult methodResult) {
    NSMutableArray* resultList = [NSMutableArray array];

    for (int i = 0; i < ((NSArray<NSDictionary<NSString*, NSObject*>*>*) argsBatch).count; i++) {
        NSDictionary<NSString*, id>* args = [((NSArray<NSDictionary<NSString*, id>*>*) argsBatch) objectAtIndex:i];

        // ref object
        #__ref__#

        #__invoke__#

        #__result__#

        [resultList addObject:jsonableResult];
    }

    methodResult(resultList);
},
