@"#__class_name__#::createAnonymous__": ^(NSObject <FlutterPluginRegistrar> * registrar, id args, FlutterResult methodResult) {
    id<#__class_name__#> __result__ = [[#__class_name__#_Anonymous alloc] initWithFlutterPluginRegistrar:registrar];
    methodResult(__result__);
},