^(#__formal_params__#) {
    FlutterMethodChannel *channel = [FlutterMethodChannel
        methodChannelWithName:@"#__method_channel__#"
              binaryMessenger:[self->_registrar messenger]];
    
    // print log
    if (enableLog) {
        NSLog(@"#__log__#");
    }

    // 构造可以直接传输的参数
    #__local_args__#
    
    #__callback__#
}