#import <Flutter/Flutter.h>

NSMutableDictionary<NSNumber *, NSObject *> *REF_MAP;

@interface #__plugin_name__#Plugin : NSObject<FlutterPlugin>
- (instancetype)initWithFlutterPluginRegistrar:(NSObject <FlutterPluginRegistrar> *)flutterPluginRegistrar;
@end
