#import <Flutter/Flutter.h>

@interface #__plugin_name__#Plugin : NSObject<FlutterPlugin>
- (instancetype)initWithFlutterPluginRegistrar:(NSObject <FlutterPluginRegistrar> *)flutterPluginRegistrar;
@end
