#__type_name__# ref = (#__type_name__#) args[@"__this__"];
// 批处理过程中出现nil引用则直接添加nil进结果列表, 然后进行下一次循环
if ((NSNull *) ref == [NSNull null] || ref == nil) {
    [resultList addObject: [NSNull null]];
    continue;
}