#__type_name__# ref = (#__type_name__#) args[@"__this__"];
if ((NSNull *) ref == [NSNull null] || ref == nil) {
    methodResult([FlutterError errorWithCode:@"目标对象为nil" message:@"目标对象为nil" details:@"目标对象为nil"]);
    return;
}