@#__method_name__#: ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, NSObject *> * args, FlutterResult methodResult) {
    let #__field_name__# = args["#__field_name__#"] as! #__field_type__#

    let refId = args["refId"] as! Int
    let ref = REF_MAP[refId] as! #__class_name__#

    ref.#__setter__# = #__field_name__#
    methodResult("success")
},
