MethodChannel('#__callback_channel__#', k#__project_name__#MethodCodec)
    .setMethodCallHandler((methodCall) async {
      try {
        final args = methodCall.arguments as Map;
        switch (methodCall.method) {
          #__cases__#
          default:
            break;
        }
      } catch (e) {
        debugPrint(e);
        rethrow;
      }
    });