static Future<#__class_name__#> create#__class_name__#(#__formal_params__#) async {
  final int refId = await _channel.invokeMethod('ObjectFactory::create#__class_name__#'#__separator__##__params__#);
  return #__class_name__#.withRefId(refId);
}
