static Future<#__class_name__#> create#__class_name__#() async {
  final int refId = await _channel.invokeMethod('ObjectFactory::create#__class_name__#');
  return #__class_name__#.withRefId(refId);
}
