static Future<#__class_name__#> create__#__signature__#(#__formal_params__#) async {
  final refId = await MethodChannel('#__channel_name__#', StandardMethodCodec(FluttifyMessageCodec())).invokeMethod('ObjectFactory::create#__creator_name__#'#__separator__##__args__#);
  final object = #__class_name__#()..refId = refId..tag__ = '#__tag__#';
  return object;
}
