Future<#__return_type__#> #__function_name__#(#__formal_params__#) async {
  // print log
  if (fluttifyLogEnabled) {
    #__log__#
  }

  // invoke native method
  #__invoke__#

  // handle native call
  #__callback__#

  return #__return_statement__#;
}
