Future<List<#__type__#>> get_#__name__#_batch(#__view_channel__#) async {
  final resultBatch = await MethodChannel(#__method_channel__#).invokeMethod("#__getter_method__#_batch", [for (final __item__ in this) {'refId': __item__.refId}]);
  final typedResult = (resultBatch as List).map((__result__) => #__result__#).toList();
  #__native_object_pool__#
  return typedResult;
}
