#__deprecated__#
#__static__#Future<#__return_type__#?> #__method_name__#(#__formal_params__#) async {
  assert(#__check_param_size__#);

  // invoke native method
  #__invoke__#

  return #__return_statement__#;
}
