#__deprecated__#
#__static__#Future<#__return_type__#> #__method_name__#(#__formal_params__#) async {
  if (#__check_param_size__#) {
    return Future.error('all args must have same length!');
  }

  // invoke native method
  #__invoke__#

  // convert native result to dart side object
  if (resultBatch == null) {
    return null;
  } else {
    final typedResult = #__return_statement__#;
    return typedResult;
  }
}
