#__static__#Future<#__return_type__#> #__method_name__#(#__formal_params__#) async {
  // 日志打印
  #__log__#

  // 调用原生方法
  #__invoke__#

  // 接受原生回调
  #__callback__#

  // 返回值
  if (result == null) {
    return null;
  } else {
    return #__return_statement__#;
  }
}
