import 'package:flutter/services.dart';

import 'package:#__current_package__#.dart';

class ObjectFactory {
  static final _channel = MethodChannel('#__org__#/ObjectFactory');

  #__create_objects__#
}