import 'package:flutter/services.dart';

import 'package:#__current_package__#.dart';

// ignore_for_file: non_constant_identifier_names, camel_case_types
class ObjectFactory_#__platform__# {
  static final _channel = MethodChannel('#__method_chanel__#');

  #__create_objects__#
}