import 'package:flutter/services.dart';

import 'package:#__current_package__#.dart';

class ObjectCreator {
  static final _channel = MethodChannel('#__org__#/ObjectCreator');

  #__create_objects__#
}