import 'dart:typed_data';

import 'package:#__current_package__#/src/ios/ios.export.dart';
import 'package:#__current_package__#/src/android/android.export.dart';
import 'package:flutter/services.dart';

// ignore_for_file: non_constant_identifier_names, camel_case_types
class Ref_#__platform__# {
  int refId;

  #__type_checks__#

  #__type_casts__#
}