import 'dart:typed_data';

import 'package:#__current_package__#/src/ios/ios.export.dart';
import 'package:#__current_package__#/src/android/android.export.dart';
import 'package:flutter/services.dart';

// ignore_for_file: non_constant_identifier_names, camel_case_types, missing_return
class #__class_name__# extends #__super_class__# #__mixins__# {
  static final _channel = MethodChannel('#__method_channel__#');

  // 生成getters
  #__getters__#

  // 生成setters
  #__setters__#

  // 生成方法们
  #__methods__#
}