Future<void> set_#__name__#(#__type__# #__name__#) async {
  await MethodChannel('#__method_channel__#').invokeMethod('#__setter_method__#', {'refId': refId, "#__name__#": #__arg_value__#});

  #__callback__#
}
