Future<void> set_#__name__#_batch(List<#__type__#> #__name__##__view_channel__#) async {
  await MethodChannel(#__method_channel__#).invokeMethod('#__setter_method__#_batch', [for (int __i__ = 0; __i__ < this.length; __i__++) {'refId': this[__i__].refId, "#__name__#": #__arg_value__#}]);

  #__callback__#
}
