Future<void> set_#__name__#(#__type__# #__name__##__view_channel__#) async {
  await MethodChannel(#__method_channel__#, StandardMethodCodec(FluttifyMessageCodec('#__tag__#'))).invokeMethod('#__setter_method__#', <String, dynamic>{'__this__': this, #__args__#});

  #__callback__#
}
