Future<#__type_name__#> as#__type_name__#(Ref ref) async {
  final result = await MethodChannel('#__method_channel__#').invokeMethod('RefClass::as#__type_name__#', {'refId': ref.refId});
  return #__type_name__#()..refId = result;
}
