Future<bool> isKindOf#__type_name__#(Ref ref) async {
  final result = await MethodChannel('#__method_channel__#').invokeMethod('RefClass::isKindOf#__type_name__#', {'refId': ref.refId});
  return result;
}
