extension #__class_name__#_Batch on List<#__class_name__#> {
  String get refId {
    if (isEmpty) return null;
    return first.refId;
  }

  //region getters
  #__getters_batch__#
  //endregion

  //region setters
  #__setters_batch__#
  //endregion

  //region methods
  #__methods_batch__#
  //endregion
}