else if (T == #__type_name__#) {
  // 如果是Ref类的cast, 那么取其refId, 如果本身是refId, 那么直接使用(int)
  return (#__constructor__#()..refId = (this is Ref ? (this as Ref).refId : this as int)..tag__ = '#__plugin_name__#') as T;
}