else if (T == #__type_name__#) {
  final result = await MethodChannel('#__method_channel__#', StandardMethodCodec(FluttifyMessageCodec())).invokeMethod('RefClass::isKindOf#__type_name__#', {'__this__': this});
  return result;
}