import 'dart:convert';
import 'dart:typed_data';

import 'package:#__current_package__#/src/ios/ios.export.g.dart';
import 'package:flutter/foundation.dart';
import 'package:flutter/gestures.dart';
import 'package:flutter/material.dart';
import 'package:flutter/rendering.dart';
import 'package:flutter/services.dart';

typedef void #__view_simple_name__#CreatedCallback(#__view__# controller);

// ignore_for_file: non_constant_identifier_names, camel_case_types, missing_return, unused_import
class #__view__#_iOS extends StatefulWidget {
  const #__view__#_iOS({
    Key key,
    this.onViewCreated,
  }) : super(key: key);

  final #__view_simple_name__#CreatedCallback onViewCreated;

  @override
  _#__view__#_iOSState createState() => _#__view__#_iOSState();
}

class _#__view__#_iOSState extends State<#__view__#_iOS> {
  #__view__# _controller;

  @override
  Widget build(BuildContext context) {
    final gestureRecognizers = <Factory<OneSequenceGestureRecognizer>>[
      Factory<OneSequenceGestureRecognizer>(() => EagerGestureRecognizer()),
    ].toSet();

    final messageCodec = StandardMessageCodec();
    return UiKitView(
      viewType: '#__org__#/#__view_type__#',
      gestureRecognizers: gestureRecognizers,
      onPlatformViewCreated: _onViewCreated,
      creationParamsCodec: messageCodec,
    );
  }

  void _onViewCreated(int id) {
    _controller = #__view__#()..refId = id;
    if (widget.onViewCreated != null) {
      widget.onViewCreated(_controller);
    }
  }

  @override
  void dispose() {
    ObjectFactory_iOS.release(_controller);
    super.dispose();
  }
}
