@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, NSDictionary<NSString *, id> * args, FlutterResult methodResult) {
    // 参数
    #__args__#

    NSInteger refId = [args[@"refId"] integerValue];
    #__class_name__# ref = (#__class_name__#) REF_MAP[@(refId)];

    ref.#__setter__# = #__field_value__#;
    methodResult(@"success");
},
