#
# To learn more about a Podspec see http://guides.cocoapods.org/syntax/podspec.html
#
Pod::Spec.new do |s|
  s.name             = '#__project_name__#'
  s.version          = '0.0.1'
  s.summary          = '#__desc__#'
  s.description      = <<-DESC
A new flutter plugin project.
                       DESC
  s.homepage         = '#__homepage__#'
  s.license          = { :file => '../LICENSE' }
  s.author           = { '#__author__#' => '#__email__#' }
  s.source           = { :path => '.' }
  s.source_files = 'Classes/**/*'
  s.public_header_files = 'Classes/**/*.h'
  s.dependency 'Flutter'
  s.dependency 'foundation_fluttify'
  # flutter plugin dependency
  #__plugin_dependency__#

  s.ios.deployment_target = '8.0'
  # include project framework
  s.vendored_frameworks = '**/*.framework'
  # include project .a
  s.vendored_libraries = '**/*.a'
  # ios system framework
  s.frameworks = [
        #__frameworks__#
  ]
  # ios system library
  s.libraries = [
        #__libraries__#
  ]
  # resources
  s.resources = '*.framework/*.bundle'
  # s.resource_bundles = {
  #   '#__project_name__#' => ['*.framework/*.bundle']
  # }
end

