name: #__project_name__#
description: #__desc__#
version: 0.0.1
homepage: #__homepage__#

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.12.13"

dependencies:
  flutter:
    sdk: flutter
  #__plugin_dependency__#
  #__package_dependency__#
  #__foundation_version__#

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: any

flutter:
  plugin:
    platforms:
      android:
        package: #__android_identifier__#
        pluginClass: #__plugin_class__#
      ios:
        pluginClass: #__plugin_class__#