import 'dart:typed_data';

import 'package:#__current_package__#/#__current_package__#.dart';
import 'package:flutter/services.dart';

// ignore_for_file: non_constant_identifier_names, camel_case_types
abstract class #__interface_type__# extends #__super_class__# {
  #__interface_type__#.withRefId(int refId): super.withRefId(refId);

  #__interface_methods__#
}