@"#__method_name__#": ^(NSObject <FlutterPluginRegistrar> * registrar, id argsBatch, FlutterResult methodResult) {
    NSMutableArray<NSNumber*>* resultList = [NSMutableArray array];

    for (int __i__ = 0; __i__ < [(NSNumber*) ((NSDictionary<NSString*, NSObject*>*) argsBatch)[@"length"] integerValue]; __i__++) {
        #__type_name__#* ref = [[#__type_name__# alloc] init];
        HEAP[@(ref.hash)] = ref;

        [resultList addObject:@(ref.hash)];
    }

    methodResult(resultList);

    if (enableLog) NSLog(@"HEAP: %@", HEAP);
},
