#import "#__native_view__#Factory.h"
#import "AmapBaseFlutterPlugin.h"
#import #__import__#

@implementation #__native_view__#Factory {

}
- (NSObject <FlutterPlatformView> *)createWithFrame:(CGRect)frame viewIdentifier:(int64_t)viewId arguments:(id _Nullable)args {
  return [[#__native_view__#PlatformView alloc] initWithViewId:viewId];
}

@end

@implementation #__native_view__#PlatformView {
  NSInteger _viewId;
}

- (instancetype)initWithViewId:(NSInteger)viewId {
  self = [super init];
  if (self) {
    _viewId = viewId;
  }

  return self;
}

- (UIView *)view {
  #__native_view__# *view = [[#__native_view__# alloc] init];
  REF_MAP[@(_viewId)] = view;
  return view;
}

- (void)dealloc {
  [REF_MAP removeObjectForKey:@(_viewId)];
}

@end