// list arg
List<Integer> #__arg_name__#RefIdList = (List<Integer>) ((Map<String, Object>) __args__).get("#__arg_name__#");
#__type_name__# #__arg_name__# = new ArrayList<>();
for (int refId : #__arg_name__#RefIdList) {
    ((ArrayList<#__generic_type_name__#>) #__arg_name__#).add((#__generic_type_name__#) getHEAP().get(refId));
}