// list arg
List<Integer> #__arg_name__#RefIdList = (List<Integer>) ((Map<String, Object>) args).get("#__arg_name__#");
List<#__type_name__#> #__arg_name__# = new ArrayList<>();
for (int refId : #__arg_name__#RefIdList) {
    #__arg_name__#.add((#__type_name__#) getHEAP().get(refId));
}