// ref arg
Integer __#__arg_name__#__ = (Integer) ((Map<String, Object>) __args__).get("#__arg_name__#");
#__type_name__# #__arg_name__# = __#__arg_name__#__ != null ? (#__type_name__#) getHEAP().get(__#__arg_name__#__) : null;