// list arg
List<Integer> arg#__arg_name__# = new ArrayList<>();
for (#__type_name__# item : #__arg_name__#) {
    int seqNumber = getFluttifySequence();
    getHEAP().put(seqNumber, item);
    arg#__arg_name__#.add(seqNumber);
}