new #__callback_class_name__#() {
        // method channel
        MethodChannel callbackChannel = new MethodChannel(messenger, #__callback_channel__#, new StandardMethodCodec(new FluttifyMessageCodec()));
        android.os.Handler handler = new android.os.Handler(android.os.Looper.getMainLooper());

        // call dart method
        #__callback_methods__#
}