@Override
public #__return_type__# #__callback_method__#(#__formal_params__#) {
    // print log
    if (getEnableLog()) {
        #__log__#
    }

    // call dart method
    handler.post(new Runnable() {
        @Override
        public void run() {
            callbackChannel.invokeMethod(
                "#__callback_method__#",
                new HashMap<String, Object>() {{
                    #__callback_args__#
                }}
            );
        }
    });

    // method result
    #__return_stmt__#
}
