// ref arg
final Integer arg#__arg_name__#;
if (#__arg_name__# != null) {
    arg#__arg_name__# = getFluttifySequence();
    getHEAP().put(arg#__arg_name__#, #__arg_name__#);
} else {
    arg#__arg_name__# = null;
}