// factory
put("ObjectFactory::create_batch#__creator_name__#", (argsBatch, methodResult) -> {
    List<Integer> __resultList__ = new ArrayList<>();

    int __length__ = 0;
    // when batch size is 0, dart side will put a map with key 'length' to indicate the length
    // of this batch
    if (argsBatch instanceof Map) {
        __length__ = (Integer) ((Map<String, Object>) argsBatch).get("length");
    }
    // or directly put the arg batch
    else if (argsBatch instanceof List) {
        __length__ = ((List<Map<String, Object>>) argsBatch).size();
    }

    for (int __i__ = 0; __i__ < __length__; __i__++) {
        Map<String, Object> args = new HashMap<>();
        // only when arg batch is not empty, java side needs to parse args;
        if (argsBatch instanceof List) {
            args = ((List<Map<String, Object>>) argsBatch).get(__i__);
        }

        // args
        #__args__#;

        // create target object
        #__class_name__# __obj__ = new #__class_name__#(#__args_value__#);
        getHEAP().put(System.identityHashCode(__obj__), __obj__);

        // print current HEAP
        if (getEnableLog()) {
            Log.d("ObjectFactory", "HEAP: " + getHEAP());
        }

        __resultList__.add(System.identityHashCode(__obj__));
    }

    methodResult.success(__resultList__);
});