put("RefClass::isKindOf#__underscore_type_name__#", (__args__, __methodResult__) -> {
    // 引用对象
    Object __this__ = ((Map<String, Object>) __args__).get("__this__");

    __methodResult__.success(__this__ instanceof #__type_name__#);
});