// getter
put("#__getter_name__#", (__rawArgs__, __methodResult__) -> {
   Map<String, Object> __args__ = (Map<String, Object>) __rawArgs__;

   // ref object
   #__class_name__# __this__ = (#__class_name__#) __args__.get("__this__");

   #__field_type__# __result__ = __this__.#__field_name__#;

    __methodResult__.success(__result__);
});