// setter batch
put("#__setter_name__#_batch", (__argsBatch__, __methodResult__) -> {
    for (int __i__ = 0; __i__ < ((List<Map<String, Object>>) __argsBatch__).size(); __i__++) {
        Map<String, Object> __args__ = ((List<Map<String, Object>>) __argsBatch__).get(__i__);

        #__arg__#;

        int refId = (int) ((Map<String, Object>) __args__).get("refId");
        #__class_name__# ref = (#__class_name__#) getHEAP().get(refId);

        ref.#__field_name__# = #__field_value__#;
    }

    __methodResult__.success("success");
});