// method
put("#__method_name__#_batch", (argsBatch, methodResult) -> {
    List<#__result_type__#> resultList = new ArrayList<>();

    for (int i = 0; i < ((List<Map<String, Object>>) argsBatch).size(); i++) {
        Map<String, Object> args = ((List<Map<String, Object>>) argsBatch).get(i);

        // args
        #__args__#

        // ref
        #__ref__#

        // invoke native method
        #__invoke__#

        // convert result to jsonable result
        #__result__#

        resultList.add(jsonableResult);
    }

    methodResult.success(resultList);
});