// anonymous class
put("#__class_name__#::createAnonymous__", (__args__, __methodResult__) -> {
    // invoke native method
    #__class_name__# __result__ = #__anonymous_class__#;

    __methodResult__.success(__result__);
});