// getter
put("#__getter_name__#", (args, methodResult) -> {
    // ref object
    int refId = (int) ((Map<String, Object>) args).get("refId");
    #__class_name__# ref = (#__class_name__#) getHEAP().get(refId);

    #__field_type__# result = ref.#__field_name__#;

    #__put_map__#

    methodResult.success(#__result__#);
});