// setter batch
put("#__setter_name__#_batch", (__argsBatch__, __methodResult__) -> {
    for (int __i__ = 0; __i__ < ((List<Map<String, Object>>) __argsBatch__).size(); __i__++) {
        Map<String, Object> __args__ = ((List<Map<String, Object>>) __argsBatch__).get(__i__);

        #__arg__#;

        #__class_name__# __this__ = (#__class_name__#) ((Map<String, Object>) __args__).get("__this__");

        __this__.#__field_name__# = #__field_value__#;
    }

    __methodResult__.success("success");
});