// getter
put("#__getter_name__#_batch", (__argsBatch__, __methodResult__) -> {
    List<#__result_type__#> __resultList__ = new ArrayList<>();

    for (int __i__ = 0; __i__ < ((List<Map<String, Object>>) __argsBatch__).size(); __i__++) {
        Map<String, Object> __args__ = ((List<Map<String, Object>>) __argsBatch__).get(__i__);

        // ref object
        #__class_name__# __this__ = (#__class_name__#) __args__.get("__this__");

        #__field_type__# __result__ = __this__.#__field_name__#;

        __resultList__.add(__result__);
    }

    __methodResult__.success(__resultList__);
});