// factory
put("ObjectFactory::create_batch#__creator_name__#", (__argsBatch__, __methodResult__) -> {
    List<#__class_name__#> __resultList__ = new ArrayList<>();

    int __length__ = 0;
    // when batch size is 0, dart side will put a map with key 'length' to indicate the length
    // of this batch
    if (__argsBatch__ instanceof Map) {
        __length__ = (Integer) ((Map<String, Object>) __argsBatch__).get("length");
    }
    // or directly put the arg batch
    else if (__argsBatch__ instanceof List) {
        __length__ = ((List<Map<String, Object>>) __argsBatch__).size();
    }

    for (int __i__ = 0; __i__ < __length__; __i__++) {
        Map<String, Object> __args__ = new HashMap<>();
        // only when arg batch is not empty, java side needs to parse args;
        if (__argsBatch__ instanceof List) {
            __args__ = ((List<Map<String, Object>>) __argsBatch__).get(__i__);
        }

        // args
        #__args__#;

        // create target object
        #__class_name__# __obj__ = new #__class_name__#(#__args_value__#);

        __resultList__.add(__obj__);
    }

    __methodResult__.success(__resultList__);
});