// setter batch
put("#__setter_name__#_batch", (argsBatch, methodResult) -> {
    for (int __i__ = 0; __i__ < ((List<Map<String, Object>>) argsBatch).size(); __i__++) {
        Map<String, Object> args = ((List<Map<String, Object>>) argsBatch).get(__i__);

        #__arg__#;

        int refId = (int) ((Map<String, Object>) args).get("refId");
        #__class_name__# ref = (#__class_name__#) getHEAP().get(refId);

        ref.#__field_name__# = #__field_value__#;
    }

    methodResult.success("success");
});