put("#__method_name__#", (args, methodResult) -> {
    // args
    #__args__#

    // ref
    #__ref__#

    // print log
    if (getEnableLog()) {
        #__log__#
    }

    // invoke native method
    #__invoke__#

    // result
    #__result__#
});