// method
put("#__method_name__#", (__args__, __methodResult__) -> {
    // args
    #__args__#

    // ref
    #__ref__#

    // print log
    if (getEnableLog()) {
        #__log__#
    }

    // invoke native method
    #__result_type__# __result__ = null;
    #__invoke__#

    __methodResult__.success(__result__);
});