private func #__getter_method_name__#(registrar: FlutterPluginRegistrar, args: Dictionary<String, Any>, methodResult: FlutterResult) {
    // 引用对象
    let refId = args["refId"] as! Int
    let ref = HEAP_#__plugin_name__#[refId] as! #__class_name__#

    methodResult(ref.#__getter__#)
}
