private func #__getter_name__#(registrar: FlutterPluginRegistrar, args: Dictionary<String, Any>, methodResult: FlutterResult) {
    // 引用对象
    let refId = args["refId"] as! Int
    let ref = REF_MAP[refId] as! #__class_name__#

    methodResult(ref.#__field_name__#)
}
