private func #__method_name__#(registrar: FlutterPluginRegistrar, args: Dictionary<String, Any>, methodResult: FlutterResult) {
    // 参数
    #__args__#

    // 调用对象引用
    #__ref__#

    // 日志打印
    #__log__#

    // 开始调用
    #__invoke__#

    // 调用结果
    #__result__#
}
