MethodChannel('#__callback_channel__#' + refId.toString())
    .setMethodCallHandler((methodCall) async {
      final args = methodCall.arguments as Map;
      final refId = args['refId'] as int;
      if (refId != this.refId) return;

      switch (methodCall.method) {
        #__cases__#
        default:
          break;
      }
    });