- (#__return_type__#)#__method_name__##__formal_params__#
{
  FlutterMethodChannel *channel = [FlutterMethodChannel
      methodChannelWithName:@"#__method_channel__#"
            binaryMessenger:[_registrar messenger]];

  NSLog(@"#__method_name__#");

  #__delegate__#
}
