object : #__callback_class_name__# {
    // method channel
    val callbackChannel = MethodChannel(registrar.messenger(), "#__callback_channel__#::Callback")

    // 回调方法们
    #__callback_methods__#
}