object : #__callback_class_name__# {
    // method channel
    val callbackChannel = MethodChannel(registrar.messenger(), "#__callback_channel__#::Callback")

    // call dart method
    #__callback_methods__#
}