private fun #__getter_name__#(registrar: Registrar, args: Map<String, Any>, methodResult: MethodChannel.Result) {
    // 引用对象
    val refId = args["refId"] as Int
    val ref = REF_MAP[refId] as #__class_name__#

    methodResult.success(ref.#__field_name__#)
}