"#__getter_name__#" to { registrar, args, methodResult ->
    // ref object
    val refId = args["refId"] as Int
    val ref = HEAP_#__plugin_name__#[refId] as #__class_name__#

    methodResult.success(ref.#__field_name__#)
}