"ObjectFactory::create#__creator_name__#" to { registrar, args, methodResult ->
    // 创建对象
    val obj = #__class_name__#()
    REF_MAP[obj.hashCode()] = obj

    methodResult.success(obj.hashCode())
}